.navbar {
  background-color: gray;
  opacity: 0.7;
  height: 50px;
  font-family:  'Courier New', monospace;
  color: black;
  font-weight: bold;
  font-size: 25px;
  padding-top: 15px;
  
}

.nav {
  text-align: right;
}

.intro {
  font-size: 20px;
  background-size: cover;
  margin-left: 25px;
}

main {
  text-align: center;
}

.container {
  height: 250px;
  padding-top: 50px;
  background-color: aqua;
  padding-bottom: 150px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  
}

img {
  width: 250px;
  border-radius: 50%;
}

.lang-div {
  padding-right: 550px;
  height: 250px;
  padding-top: 50px;
  background-color: lightyellow;
  list-style: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.frame-div {
  padding-left: 550px;
  height: 250px;
  padding-top: 50px;
  background-color: lightgreen;
  list-style: none;
}

.footer {
  background-color: yellow;
  position: fixed;
  left:0;
  right:0;
  bottom: 0;
  opacity: .7;
  position:relative;
}

.bit {
  padding-top: 20px;
}

.about {
  padding-top: 25px;
}
